
JCMM_LIBSROOT = $(SRCROOT)/../lib

FRAMEWORK_SEARCH_PATHS = $(inherited)
HEADER_SEARCH_PATHS = $(inherited) $(JCMM_UNITTEST_HEADER_SEARCH_PATHS)
LIBRARY_SEARCH_PATHS = $(inherited)

GCC_PREFIX_HEADER = resources/StaticLib-Prefix.pch

PRODUCT_NAME = $(TARGET_NAME)

WARNING_CFLAGS = $(inherited) -Wno-unused-parameter

JCMM_STATIC_LIB_GCC_PREPROCESSOR_DEFINITIONS = $(inherited)
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) $(JCMM_STATIC_LIB_GCC_PREPROCESSOR_DEFINITIONS) $(JCMM_UNITTEST_PREPROCESSOR_DEFINITIONS)

