
#include "HeadersAndLibraries.xcconfig"

GCC_PREFIX_HEADER = resources/StaticLib-Prefix.pch

PRODUCT_NAME = $(TARGET_NAME)

//Fix up some warnings
WARNING_CFLAGS = $(inherited) -Wno-unused-parameter

JCMM_STATIC_LIB_GCC_PREPROCESSOR_DEFINITIONS = $(inherited)
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) $(JCMM_STATIC_LIB_GCC_PREPROCESSOR_DEFINITIONS)

