
JCMM_UNITTEST_LIBS_ROOT = $(SRCROOT)/../../lib

JCMM_UNITTEST_HEADER_SEARCH_PATHS = $(JCMM_UNITTEST_LIBS_ROOT)/Kiwi/Classes
JCMM_UNITTEST_PREPROCESSOR_DEFINITIONS = 

#include "Shared.xcconfig"

OTHER_LDFLAGS = $(inherited) -framework SenTestingKit

GCC_PREFIX_HEADER = tests/StaticLibTests-Prefix.pch

PRODUCT_NAME = $(TARGET_NAME)
WRAPPER_EXTENSION = octest
INFOPLIST_FILE = resources/$(TARGET_NAME)-Info.plist
BUNDLE_LOADER =  $(BUILT_PRODUCTS_DIR)/StaticLibTestLoader.app/StaticLibTestLoader
TEST_HOST = $(BUNDLE_LOADER)
TEST_AFTER_BUILD = NO
